<h1>Project Dashboard</h1>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Project Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td><a href="{% url 'project_detail' project.pk %}">{{ project.name }}</a></td>
                <td>{{ project.description }}</td>
                <td><a href="{% url 'project_detail' project.pk %}">View Tickets</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="#">Create New Project (not implemented yet)</a>
